name: pr

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        CUDA_VER: ["11.8.0"]
    runs-on: ubuntu-latest
    container: rapidsai/ci-conda:cuda${{ matrix.CUDA_VER }}-ubuntu22.04-py3.10
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          mamba install -y -c conda-forge boa
      - name: Run build
        run: conda mambabuild conda/recipes/ptxcompiler
        env:
          CUDA_VER: ${{ matrix.CUDA_VER }}
  # The following job exists so that it can be set as a consistent required job
  # for PRs to merge. Using the matrix job as a required job would require
  # updating GitHub's protected branch setting every time the matrix values
  # above change.
  complete:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: exit 0
